<head>
    <style>
        .body{
            display: flex;
            align-items: ;
        }
        .col-sm-3{
            background-color: aliceblue; 
            padding: 20px 20px 20px 20px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    
<div class="jumbotron text-center">
    <h1>{{title}}</h1>
</div>
<div class="container" >
    <div class="row text-center">
        <br> <br> 
        
        <div class="col-sm-3">
            Total Registerd User : {{user_count}}
        </div>
        <br> <br> <br><br> <br>
         
        <div class="col-sm-3">
            Total books Available : {{book_count}}
        </div>
        <br> <br> <br><br><br>
         
        <div class="col-sm-3">
            Total genres Available : {{genre_count}}
        </div>
         
    </div>
</div>
</body>
